.archive {

  .hentry {
    border-bottom: 1px solid $primary;
    margin-bottom: 2rem;
    
    &:last-of-type {
      border-bottom: none; 
    }
  }
}

.blog {
  
  .post {
    
    .entry-title {
      font-weight: 600;
      font-size: 1.25rem;
      padding: 0.75rem 0;
    }
    
    .wp-post-image {
      aspect-ratio: 1 / 0.7;
      object-fit: cover;

      @supports not (aspect-ratio: 1 / 1) {
        &::before {
          float: left;
          padding-top: 100%;
          content: "";
        }
      
        &::after {
          display: block;
          content: "";
          clear: both;
        }
      }
    }
  }
}